{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Home</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'cssuserpage/plugins.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'cssuserpage/style.css' %}" />
<!--[if lt IE 9]> <script type="text/javascript" src="{% static 'jsuserpage/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body>
<!-- WRAPPER ALL -->
<div class="arlo_tm_wrapper_all">

	<div id="arlo_tm_popup_blog">
		<div class="container">
			<div class="inner_popup scrollable"></div>
		</div>
		<span class="close"><a href="#"></a></span>
	</div>
	
	<!-- PRELOADER -->
	<div class="arlo_tm_preloader">
		<div class="spinner_wrap">
			<div class="spinner"></div>
		</div>
	</div>
	<!-- /PRELOADER -->
	
	<!-- MOBILE MENU -->
	<div class="arlo_tm_mobile_header_wrap">
		<div class="main_wrap">
			<div class="logo">
				<img src="{% static 'imguserpage/logo/mobile_logo.png' %}" alt="" />
			</div>
			<div class="arlo_tm_trigger">
				<div class="hamburger hamburger--collapse-r">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="arlo_tm_mobile_menu_wrap">
   			<div class="mob_menu">
				<ul class="anchor_nav">
					<li><a href="#home">个人主页</a></li>
					<li><a href="#about">个人信息</a></li>
					<li><a href="#services">发布记录</a></li>
					<li><a href="#services1">参与记录</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->
	<button type='button' onclick="location='/user/logout/'">注销</button>
    <button type='button' onclick="location='/index/'">返回</button>
    <!-- CONTENT -->
	<div class="arlo_tm_content">
		
		<!-- LEFTPART -->
		<div class="arlo_tm_leftpart_wrap">
			<div class="leftpart_inner">
				<div class="logo_wrap">
					<a href="#"><img src="{% static 'imguserpage/logo/desktop-logo.png' %}" alt="" /></a>
				</div>
				<div class="menu_list_wrap">
					<ul class="anchor_nav">
						<li><a href="#home">个人主页</a></li>
						<li><a href="#about">个人信息</a></li>
						<li><a href="#services">发布记录</a></li>
						<li><a href="#services1">参与记录</a></li>
						<li><a href="/zjnu">返回主页</a></li>
                        <li><a href="/user/logout/">注销账号</a></li>
					</ul>
				</div>
				<a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
			</div>
		</div>
		<!-- /LEFTPART -->
		
		<!-- 右边部分 -->
		<div class="arlo_tm_rightpart">
			<div class="rightpart_inner">
				<div class="arlo_tm_section" id="home">
					<div class="arlo_tm_hero_header_wrap">
						<div class="arlo_tm_universal_box_wrap">
							<div class="bg_wrap">
								<div class="overlay_image hero jarallax" style="background-image:url({% static 'imguserpage/hero/2.jpg' %})" data-speed="0.1"></div>
								<div class="overlay_color hero"></div>
							</div>
							<div class="content hero">
								<div class="inner_content">
									<div class="image_wrap">
										<img src="{% static 'imguserpage/hero/img.jpg' %}" alt="" />
									</div>
									<div class="name_holder">
										<h3>欧洲</h3>
									</div>
								</div>
							</div>
							<div class="arlo_tm_arrow_wrap bounce anchor">
								<a href="#about"><i class="xcon-angle-double-down"></i></a>
							</div>
						</div>
					</div>
				</div>
				
				<!--个人信息 -->
				<div class="arlo_tm_section relative" id="about">
					<div class="arlo_tm_about_wrapper_all">
						<div class="container">
							<div class="arlo_tm_title_holder">
								<h3>个人信息</h3>
								<span>Main informations about me</span>							</div>
							<div class="arlo_tm_about_wrap">
								<div class="author_wrap">
									<div class="leftbox">
										<div class="about_image_wrap parallax" data-relative-input="true">
											<div class="image layer" data-depth="0.1">
												<img src="{% static 'imguserpage/about/550x640.jpg' %}" alt="" />
												<div class="inner" data-img-url="{% static 'imguserpage/about/1.jpg' %}"></div>
											</div>
											<div class="border layer" data-depth="0.2">
												<img src="{% static 'imguserpage/about/550x640.jpg' %}" alt="" />
												<div class="inner"></div>
											</div>
										</div>
									</div>
									<div class="rightbox">
										<div class="arlo_tm_mini_title_holder">
											<h4>欧洲</h4>
										</div>
										<div class="definition">
											<p><strong>个人简述：</strong></p>
											<p>这个人很懒什么也没说。</p>
										</div>
										<div class="about_short_contact_wrap">
											<ul>
												<li>
													<span><label>学号:</label> 201836900207</span>												</li>
												<li>
													<span><label>入学年份:</label> 2018</span>												</li>
												<li>
													<span><label>专业:</label> 软件工程</span>												</li>
												<li>
													<span><label>身份:</label> 学生</span>												</li>
												<li>
													<span><label>等级:</label> 本科生</span>												</li>
												<li>
													<span><label>电话:</label> 17805891028</span>												</li>	
												<li>
													<span><label>QQ:</label> 946913511</a></span>												</li>
												<li>
													<span><label>Mail:</label> <a href="mailto:example@gmail.com">946913511&#64;qq.com</a></span></li>											</li>
											</ul>
										</div>
										<div class="buttons_wrap">
											<ul>
												<li>
													<a href="index.html"><span>修改个人信息</span></a>												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /个人信息 -->
				
				<!-- 发布记录 -->
				<div class="arlo_tm_section" id="services">
					<div class="arlo_tm_services_wrap">
						<div class="container">
							<div class="arlo_tm_title_holder">
								<h3>发布记录</h3>
								<span>The records of Posting</span>							</div>
							<div class="list_wrap">
								<ul>
									<li>
										<div class="inner" style="width:1000px;">
											<div class="title_service">
												<h3>Records</h3>
											</div>
											<div class="text" style="width:900px;font-size:16px">
											{% for r in runRecords %}
											            {% csrf_token %}
														<p>
														<span><label>发布者姓名:</label></span>{{r.name}}
														<span><label>  &nbsp; 内容:</label></span>{{r.content}}
														<span><label>  &nbsp; 发布时间:</label></span>{{r.time}}
														<span><label> &nbsp;  发布ID:</label></span>{{r.user_id_id}}
											            <span><label>  &nbsp; 参与人数：</label></span>{{r.join_sum}} / {{r.num}}
											           <p style="text-align:right"> <button type="button" onclick="location='/user/userpage/?cancelRecord_id={{r.id}}'">cancel</button></p>
													<hr/>
											{% endfor %}
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /发布记录 -->
				
				<!-- 参与记录 -->
				<div class="arlo_tm_section" id="services1">
					<div class="arlo_tm_services_wrap">
						<div class="container">
							<div class="arlo_tm_title_holder">
								<h3>参与记录</h3>
								<span>The records of Attending</span>							</div>
							<div class="list_wrap">
								<ul>
									<li>
										<div class="inner" style="width:1000px;">
											<div class="title_service">
												<h3>Records</h3>
											</div>
											<div class="text" style="width:900px;font-size:16px">
											{% for r in runJoinRecords %}
											            {% csrf_token %}
														<p>
														<span><label>发布者姓名:</label></span>{{r.name}}
														<span><label> &nbsp; 内容:</label></span>{{r.content}}
														<span><label>  &nbsp; 发布时间:</label></span>{{r.time}}
														<span><label> &nbsp; 发布ID:</label></span>{{r.user_id_id}}
											            <span><label> &nbsp; 参与人数：</label></span>{{r.join_sum}} / {{r.num}}
											           <p style="text-align:right"> <button type="button" onclick="location='/user/userpage/?cancelJoinRecord_id={{r.id}}'">cancel</button></p>
													<hr/>
											{% endfor %}
                                       
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /参与记录 -->
				<!-- FOOTER -->
				<div class="arlo_tm_section" id="contact">
					<div class="arlo_tm_footer_contact_wrapper_all">
						<div class="arlo_tm_footer_wrap">
							<div class="container">
								<p>Copyright &copy; 2020.Zoe Team浙师天地</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /FOOTER -->
			</div>
		</div>
		<!-- /RIGHTPART -->
		
		<a class="arlo_tm_totop" href="#"></a> 
		
	</div>
</div>
<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="{% static 'jsuserpage/jquery.js' %}"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="{% static 'jsuserpage/ie8.js"></script> <![endif]-->	
<script src="{% static 'jsuserpage/plugins.js' %}"></script>
<script src="{% static 'jsuserpage/init.js' %}"></script>
<!-- /SCRIPTS -->

</body>
</html>
