{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="{% static 'cssagency/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'cssagency/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Infoshare Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http:///fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
<link href='http:///fonts.useso.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
<link href="{% static 'cssagency/1.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'jsagency/jquery.min.js' %}"></script>
 <script src="{% static 'jsagency/responsiveslides.min.js' %}"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
        manualControls: '#slider3-pager',
      });
    });
  </script>
</head>
<body>
<!-- banner -->
		<div class="header">
		<div class="wrap">
			<div >
				<a href="index.html"><img src="{% static 'imagesagency/zjnulogo.png' %}" class="logo" alt=""></a>
			</div>
					  <div class="header-right">
			 <div id='cssmenu'>
				<ul>
				  
				   <li class='has-sub'><a href=''><span>主页</span></a> </li> |
				   <li class='has-sub'><a href=''><span>闲置/拼单</span></a></li> |
				   <li class='active'><a href=''><span>代购跑腿</span></a></li> |
				   <li class='has-sub'><a href=''><span>约聚</span></a></li>
				</ul>
			 </div>
			  <a href="">
			  <div class="user">
				  <img src="{% static 'imagesagency/avatar.png' %}"  alt="" width="32" height="33" />
					    </div></a>
			 <div class="search_box">
				<form>
				   <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
			    </form>
			 </div>
		   </div>

			<div class="clearfix"> </div>
		</div>
		</div>

				
<!-- banner -->
<div class="slider">
  <div class="slider">
    <!-- Slideshow 3 -->

    <!-- Slideshow 3 Pager -->
  </div>
</div>
<!-- banner -->	
<!-- indica -->	
	<div class="indica">
	  <div class="container">
			
			<div class="col-md-6 posta">
				<h3> <strong>代购跑腿</strong>  需求<label1></label1></h3>
				<div class="posta-top">
					<div class="posta-1">
						<div class="posta-left">
							<a href="single.html"><img src="{% static 'imagesagency/xc.jpg' %}" class="img-responsive" alt=""></a>
						</div>
						<div class="posta-right">
							<h4><a href="single.html">【代购】喜茶</a></h4>
							<p>求代购喜茶桃香乌龙一杯。联系方式私聊。</p>
							<p class="itac">报酬：35元</p>
						</div>
						<div class="clearfix"> </div>
						<a class="anabtn" href="single.html" > 接受</a>
					</div>
					<div class="posta-1">
						<div class="posta-left">
							<a href="single.html"><img src="{% static 'imagesagency/kd.jpg' %}" class="img-responsive" ></a>
						</div>
						<div class="posta-right">
							<h4><a href="single.html">【代取快递】杏园主干道 </a></h4>
							<p>求帮取杏园主干道快递。取件码私聊。</p>
							<p class="itac">报酬：5元</p>
						</div>
					  <div class="clearfix"> </div>
						<a class="anabtn" href="single.html">接受</a>
					</div>
					<div class="posta-1">
						<div class="posta-left">
							<a href="single.html"><img src="{% static 'imagesagency/blg.jpg' %}" class="img-responsive"></a>
						</div>
						<div class="posta-right">
							<h4><a href="single.html">【代购】板蓝根颗粒</a></h4>
							<p>本人重感冒急求代购板蓝根颗粒！联系方式私聊！</p>
							<p class="itac">报酬：50元</p>
						</div>
						<div class="clearfix"> </div>
						<a class="anabtn" href="single.html">接受</a>
					</div>
                    
		             <div class="posta-1">
						<div class="posta-left">
							<a href="single.html"><img src="{% static 'imagesagency/kd.jpg' %}" class="img-responsive" alt=""></a>
						</div>
						<div class="posta-right">
							<h4><a href="single.html">【代取快递】老游泳池旁佰米中通快递</a></h4>
							<p>帮忙拿一下老游泳池旁边的驿站的快递。取件码私聊。</p>
							<p class="itac">报酬：10元</p>
						</div>
						<div class="clearfix"> </div>
                        <a class="anabtn" href="single.html">接受</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 redes">
				<h3> 需求发布<label2></label2></h3>
						<div class="redes-1">
							<div class="redes-top2">
								<div class="redes-left">
								
								</div>
								<div class="redes-right">
									
								</div>
								<div class="clearfix"> </div>
							</div>
                                                                                                                <a href="single.html">
							<div class="redes-bottom" >
								<h6>发 布</h6>
                                                                                                                        </a>

							</div>
							<div class="redes-bottom2">
							</div>
						</div>
						<div class="ultimas">
							<h3><strong>浙师资讯</strong>公告栏<label4></label4></h3>
							<div class="ultimas-top">
								<span>01</span><h5>浙师大在省大学生艺术节中获18项一等奖　位列全省第一</h5>
								<div class="clearfix"> </div>
							</div>
							<div class="ultimas-top">
								<span>02</span><h5>浙师学子在2020年全国大学生英语竞赛中获佳绩</h5>
								<div class="clearfix"> </div>
							</div>
							<div class="ultimas-top">
								<span>03</span><h5>浙师大入选首批浙江省国际人文交流基地</h5>
								<div class="clearfix"> </div>
							</div>
							<div class="ultimas-top">
								<span>04</span><h5>四项一等奖 浙师大在第十二届“大广赛”中喜获佳绩</h5>
								<div class="clearfix"> </div>
							</div>
						</div>
			</div>
				<div class="clearfix"> </div>
		</div>
</div>
<!-- indica -->	
<!-- last -->	

<!-- last -->	
<!-- vlog -->

<!-- vlog -->	
<i class="line"> </i>
<!-- melhores -->	
<!-- comopasser -->	

<!-- comopasser -->	
<!-- footer -->	
	<div class="footer">
   	    <div class="wrap">
   	    	<div class="footer-left">
		 		<ul class="footer-nav">
					<li><a href="index.html">主页</a></li> |
					<li><a href="about.html">关于我们</a></li> | 
					<li><a href="index.html">更多服务</a></li> | 
					<li><a href="works.html">工作</a></li> |
					<li><a href="contact.html">与我们联系</a></li>
				</ul>
				<div class="copy">
			       <p>Copyright &copy; 2020. Zoe Team.</p>
		        </div>
			</div>
			<div class="social">	
	           <ul>	
				    <li class="facebook"><a href="#"><span> </span></a></li>
				    <li class="linkedin"><a href="#"><span> </span></a></li>
				    <li class="twitter"><a href="#"><span> </span></a></li>	 
				    <li class="pinterest"><a href="#"><span> </span></a></li>
				    <li class="dribble"><a href="#"><span> </span></a></li>			
					<li class="google"><a href="#"><span> </span></a></li>
			  </ul>
		   </div>
		   <div class="clear"></div>
	    </div>
   </div>

<!-- footer -->	
</body>
</html>