{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
			});
		});
		</script>
   <script src="{% static 'js/jquery.hoverdir.js' %}"></script>
		<script type="text/javascript">
			$(function() {
			
				$(' #da-thumbs > li ').each( function() { $(this).hoverdir({
					hoverDelay : 50,
					inverse : true
				}); } );

			});
    </script>
</head>
<body>
  <div class="header">	
      <div class="wrap"> 
          <div class="logo">
			 <a href="index.html"><img src="{% static 'images/zjnulogo.png' %}" alt=""/></a>
			  
		  </div>
		  <div class="header-right">
			 <div id='cssmenu'>
				<ul>
				  
				   <li class='active'><a href='index.html'><span>主页</span></a> 
				   </li> |
				   <li class='has-sub'><a href='/deal'><span>闲置/拼单</span></a></li> |
				   <li class='has-sub'><a href='/agency.html'><span>代购跑腿</span></a></li> |
				   <li class='last'><a href='/runTg'><span>约聚</span></a></li>
				</ul>
			 </div>
			  <a href="">
			  <div class="user">
				  <img class="icon1" src="{% static 'images/avatar.png' %}" alt=""/>
									  </div></a>
			 <div class="search_box">
				<form>
				   <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
			    </form>
			 </div>
		   </div>
		   <div class="clear"></div>
      </div>
    </div>
	<div class="index-banner">
	  	<div class="wrap">
       	   <div class="wmuSlider example1">
			     <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">
						<div class="cont span_2_of_3">
						    <h1>“浙师天地，这是你的天地”</h1>
						</div>
						<div class="rsidebar span_1_of_3">
						  <div class="btn"><a href="works.html">了解更多</a></div>
						</div>
						
		    		</div>
					<div class="banner">
					     <img src="{% static 'images/slide1.jpg' %}" alt=""/> 
					</div>
				 </article>
				 <article style="position: relative; width: 100%; opacity: 1;"> 
				   	<div class="banner-wrap">
						<div class="cont span_2_of_3">
						    <h1>二手闲置，化废为宝</h1>
						</div>
						<div class="rsidebar span_1_of_3">
						  <div class="btn"><a href="/deal">点击进入</a></div>
						</div>
						
		    		</div>
						 <div class="banner">
						    <img src="{% static 'images/slide2.jpg' %}" alt=""/> 
						 </div>
				 </article>
				 <article style="position: absolute; width: 100%; opacity: 0;">
				   <div class="banner-wrap">
						<div class="cont span_2_of_3">
						    <h1>相约相聚，快乐运动</h1>
						</div>
						<div class="rsidebar span_1_of_3">
						  <div class="btn"><a href="/runTg">点击进入</a></div>
						</div>
						
		    		</div>
						 <div class="banner">
						    <img src="{% static 'images/slide3.jpg' %}" alt=""/> 
						 </div>
				   </article>
			   <article style="position: absolute; width: 100%; opacity: 0;">
				   <div class="banner-wrap">
						<div class="cont span_2_of_3">
						    <h1>一键代购，信息跑腿</h1>
						</div>
						<div class="rsidebar span_1_of_3">
						  <div class="btn"><a href="/deal">点击进入</a></div>
						</div>
						
		    		</div>
						 <div class="banner">
						    <img src="{% static 'images/slide4.jpg' %}" alt=""/> 
						 </div>
				   </article>
				</div>
            </div>
            	 <script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
					<script>
       				     $('.example1').wmuSlider();         
   					</script> 	           	      
   		</div>
   		<div class="main">
		   <div class="wrap">
			 <div class="content-top">
				<a href="/index/deal"><div class="col_1_of_3 span_1_of_3">
					<h3>二手交易&拼单</h3>
					<img class="icon2" src="{% static 'images/2shou.jpg' %}" alt=""/>
					<p>二手交易 <br>还在为多余的书本没地方放烦恼吗？还在为闲置的电子产品找回收吗？还在因为凑不齐人而四处求拼单吗？统统为你解决！</p>
					<div class="btn-link"><a href="#">我想出闲置</a></div>
				</div></a>
				<a href="/runTg"><div class="col_1_of_3 span_1_of_3">
					<h3>约聚运动</h3>
					<img class="icon3" src="{% static 'images/yundong.png' %}" alt=""/>
					<p>约聚运动<br>想打羽毛球却没有球友？想组队篮球赛缺少了伙伴？想夜跑缺一个人太孤独害怕？<br>来找志同道合的他/她吧！</p>
					<div class="btn-link"><a href="#">我想“约”运动</a></div>
				</div></a>
				<a href="/index/agency"><div class="col_1_of_3 span_1_of_3">
					<h3>代购跑腿</h3>
					<img class="icon2" src="{% static 'images/icon2.png' %}" alt=""/>
					<p>代购跑腿 <br>身在校外却把快递寄到了学校？想喝市中心的奶茶却因为有事在身没时间去买？快递站太远想找人代取？代购跑腿随时为你服务！</p>
					<div class="btn-link"><a href="#">我需要代购跑腿</a></div>
				</div></a>
			    <div class="clear"></div>
			</div>
		   </div>
		<div class="content-bottom">
	      <div class="wrap">
	    	<h2 class="head">最新发布New Information</h2>
		      <div class="section bottom">
				<div class="col_1_of_4 span_1_of_4">
				 <a href="single.html" class="image" href="#">
				   <span class="rollover"></span>
				  <img class="imgborder" alt="" src="{% static 'images/good1.jpg' %}">			
                 </a>   
					<div class="text"><h4><a href="#">【二手交易】</a></h4>
						<p>5个大电瓶小电驴，因外出实习无法继续使用，1200出，可小刀<br>有意联系qq:9469*****</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
				 <a href="single.html" class="image" href="#">
				   <span class="rollover"></span>
				  <img class="imgborder" alt="" src="{% static 'images/good2.jpg' %}">			
                 </a>   
					<div class="text"><h4><a href="#">【约聚运动】</a></h4>
						<p>本周六（12.5）想在启明打篮球，有无伙伴！！一缺四<br>有意联系qq:135113****</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
				 <a href="single.html" class="image" href="#">
				   <span class="rollover"></span>
				  <img class="imgborder" alt="" src="{% static 'images/good3.jpg' %}">			
                 </a>   
					<div class="text"><h4><a href="#">【约聚运动】</a></h4>
						<p>本周日（12.6）找一个一起夜跑的姐妹，大概晚上8:30~9:30<br>有意联系wx:ouzhou00****</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
				 <a href="single.html" class="image" href="#">
				   <span class="rollover"></span>
				  <img class="imgborder" alt="" src="{% static 'images/good4.jpg' %}">			
                 </a>   
					<div class="text"><h4><a href="#">【代购跑腿】</a></h4>
						<p>在外实习，求帮取中通快递寄回家，中小件，有偿10元！<br>有意者联系qq:2231*****</p>
					</div>
				</div>
				 <div class="clear"></div>
			</div>
		</div>
	</div>
    <div class="clients">
	  <div class="wrap">
	  	<h2 class="head">更多服务</h2>
		 <ul id="flexiselDemo3">
			<li><img src="{% static 'images/1.png' %}" /></li>
			<li><img src="{% static 'images/2.png' %}" /></li>
			<li><img src="{% static 'images/3.png' %}" /></li>
			<li><img src="{% static 'images/4.png' %}" /></li>
		 </ul>
	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel();
			$("#flexiselDemo2").flexisel({
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		
			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});
	</script>
	<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
     </div>
	</div>	  
   </div>
   <div class="footer">
   	    <div class="wrap">
   	    	<div class="footer-left">
		 		<ul class="footer-nav">
					<li><a href="index.html">主页</a></li> |
					<li><a href="about.html">关于我们</a></li> | 
					<li><a href="index.html">更多服务</a></li> | 
					<li><a href="works.html">工作</a></li> |
					<li><a href="contact.html">与我们联系</a></li>
				</ul>
				<div class="copy">
			       <p>Copyright &copy; 2020. Zoe Team.</p>
		        </div>
			</div>
			<div class="social">	
	           <ul>	
				    <li class="facebook"><a href="#"><span> </span></a></li>
				    <li class="linkedin"><a href="#"><span> </span></a></li>
				    <li class="twitter"><a href="#"><span> </span></a></li>	 
				    <li class="pinterest"><a href="#"><span> </span></a></li>
				    <li class="dribble"><a href="#"><span> </span></a></li>			
					<li class="google"><a href="#"><span> </span></a></li>
			  </ul>
		   </div>
		   <div class="clear"></div>
	    </div>
   </div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
