<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>


<body>

<form id="form1" name="form1" method="post" action="">
  <input type="submit" name="btn" id="btn" onclick="ly()" value="留言" />
</form>

<Script type="text/javascript">
function ly(){
 var content;
 content=window.prompt("请输入留言","在此输入留言")
 var n;
 n=window.confirm("确定不修改了吗？")
  while (n==0) 
  {
	  content=window.prompt("请输入留言",content)
	  n=window.confirm("确定不修改了吗？")
  }
  window.close()
}
</script>
</body>
</html>
